In [1]:
import pandas as pd 
import numpy as np 


import sys 
sys.path.append('../../../')


from bin.min import Manager
from stockData import StockData

m = Manager('../../../')

df = m.Pricedb.get_daily_technicals('amzn')

2025-04-22 20:43:23,564 - bin.options.optgd.db_connect - INFO - Options DB Initialized
2025-04-22 20:43:23,564 - bin.options.optgd.db_connect - WARNING - You currently have 8 connections open.
2025-04-22 20:43:23,566 - INFO - PriceDB Initialized successfully at 2025-04-22 20:43:23.566128
2025-04-22 20:43:23,566 - bin.price.db_connect - INFO - PriceDB Initialized successfully at 2025-04-22 20:43:23.566128
2025-04-22 20:43:23,566 - INFO - Established 3 database connections
2025-04-22 20:43:23,566 - bin.price.db_connect - INFO - Established 3 database connections

In [7]:
pd.Series(list(df.columns), index = np.arange(len(df.columns))).value_counts()

RSI_10           2
STOCH_28         2
STOCH_20         2
STOCH_10         2
STOCH_6          2
RSI_28           2
RSI_20           2
RSI_6            2
open             1
BB_28D           1
KC_6D            1
KC_10D           1
KC_20D           1
KC_28D           1
ADX_6D           1
BB_10D           1
ADX_10D          1
ADX_20D          1
ADX_28D          1
ATH              1
ATL              1
highs_10D        1
highs_20D        1
lows_10D         1
lows_20D         1
reversion_10D    1
BB_20D           1
ATR_6D           1
BB_6D            1
SMA96D           1
low              1
close            1
volume           1
SMA6D            1
SMA10D           1
SMA20D           1
SMA28D           1
SMA108D          1
ATR_28D          1
ROC_6            1
ROC_10           1
ROC_20           1
ROC_28           1
high             1
ATR_10D          1
ATR_20D          1
reversion_20D    1
Name: count, dtype: int64

In [ ]:
print("Connecting to database...")
# sd = StockData(stock="spy", manager=Manager('../../../'), cache_dir="data_cache")
# print("Success. ")
# df = sd.get_features()
# df['y'] = df['close'].pct_change().shift(-1)
# df['y'] = pd.Series(np.where(df['y'] > 0, 1, 0), index=df.index)  # Convert to binary labels
# df = df.dropna()


# # Save the last n rows for testing
# n = 100
# test_ind = df.index[-n:]


# # Split the data into training and testing sets
# x = df.drop(columns=["close", "open", "high", "low", "y"])
# y = df["y"]
# xtest = x.loc[test_ind]
# ytest = y.loc[test_ind]
# x = x.loc[~x.index.isin(test_ind)]
# y = y.loc[~y.index.isin(test_ind)]
# print("X shape:", x.shape, "XTEST shape:", xtest.shape)
# print("Y shape:", y.shape, "YTEST shape:", ytest.shape)

2025-04-22 20:23:24,237 - bin.options.optgd.db_connect - INFO - Options DB Initialized
2025-04-22 20:23:24,237 - bin.options.optgd.db_connect - WARNING - You currently have 8 connections open.
2025-04-22 20:23:24,240 - INFO - PriceDB Initialized successfully at 2025-04-22 20:23:24.240576
2025-04-22 20:23:24,240 - bin.price.db_connect - INFO - PriceDB Initialized successfully at 2025-04-22 20:23:24.240576
2025-04-22 20:23:24,241 - INFO - Established 3 database connections
2025-04-22 20:23:24,241 - bin.price.db_connect - INFO - Established 3 database connections

Connecting to database...
Success.
X shape: (72388, 18) XTEST shape: (100, 18)
Y shape: (72388,) YTEST shape: (100,)

In [4]:
x

,volume,EMA6T,EMA10T,EMA20T,EMA28T,EMA96T,EMA108T,daily_open,daily_high,daily_low,daily_close,daily_volume,EMA6D,EMA10D,EMA20D,EMA28D,EMA96D,EMA108D
Date,,,,,,,,,,,,,,,,,,
2024-08-01 09:30:00,2300902.0,552.859985,552.859985,552.859985,552.859985,552.859985,552.859985,547.385772,549.664181,534.369037,537.915466,76428700.0,540.407151,541.685660,542.871277,541.950998,524.017031,520.750219
2024-08-01 09:31:00,295157.0,552.934274,552.907260,552.884748,552.877917,552.865346,552.864756,547.385772,549.664181,534.369037,537.915466,76428700.0,540.407151,541.685660,542.871277,541.950998,524.017031,520.750219
2024-08-01 09:32:00,192446.0,552.993371,552.949779,552.909164,552.896069,552.871032,552.869827,547.385772,549.664181,534.369037,537.915466,76428700.0,540.407151,541.685660,542.871277,541.950998,524.017031,520.750219
2024-08-01 09:33:00,130194.0,553.063834,553.002544,552.940671,552.919787,552.878640,552.876619,547.385772,549.664181,534.369037,537.915466,76428700.0,540.407151,541.685660,542.871277,541.950998,524.017031,520.750219
2024-08-01 09:34:00,134902.0,553.185593,553.091171,552.992987,552.959112,552.891245,552.887873,547.385772,549.664181,534.369037,537.915466,76428700.0,540.407151,541.685660,542.871277,541.950998,524.017031,520.750219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-04-22 17:19:00,180063.0,525.080638,525.458510,526.174248,526.519613,526.688725,526.512119,520.140015,529.299927,519.192505,526.609985,50055960.0,525.739920,528.488843,536.939392,543.347837,566.495269,567.105487
2025-04-22 17:20:00,219437.0,524.777604,525.196966,525.969083,526.347228,526.633700,526.466393,520.140015,529.299927,519.192505,526.609985,50055960.0,525.739920,528.488843,536.939392,543.347837,566.495269,567.105487
2025-04-22 17:21:00,204328.0,524.464001,524.921153,525.751075,526.163280,526.572798,526.415266,520.140015,529.299927,519.192505,526.609985,50055960.0,525.739920,528.488843,536.939392,543.347837,566.495269,567.105487
2025-04-22 17:22:00,205963.0,524.205714,524.673670,525.542401,525.983744,526.510679,526.362876,520.140015,529.299927,519.192505,526.609985,50055960.0,525.739920,528.488843,536.939392,543.347837,566.495269,567.105487
2025-04-22 17:23:00,214036.0,524.004082,524.460276,525.347886,525.812451,526.448603,526.310346,520.140015,529.299927,519.192505,526.609985,50055960.0,525.739920,528.488843,536.939392,543.347837,566.495269,567.105487

In [5]:
y

Date
2024-08-01 09:30:00    1
2024-08-01 09:31:00    1
2024-08-01 09:32:00    1
2024-08-01 09:33:00    1
2024-08-01 09:34:00    0
                      ..
2025-04-22 17:19:00    0
2025-04-22 17:20:00    0
2025-04-22 17:21:00    0
2025-04-22 17:22:00    0
2025-04-22 17:23:00    0
Name: y, Length: 72388, dtype: int64